.container {
  display: grid;
  grid-template: auto auto auto/auto auto auto;
}

.example {
  width: 200px;
  height: 200px;
  background-color: #333;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 1em;
  border-radius: 200px;
  color: #fff;
}